 body {
    background-color:black;
    }
    p, a, h1, h2, h3, h4, h5, h6{
      font-weight:200;
    }
    h3 {
      font-family:Lato, sans-serif;
      text-transform: uppercase;
    }
    p, a, h1, h2, h4, h5, h6 {
    font-family:"Helvetica Niue", Helvetica, sans-serif;
    }
    #container {
    background-color:white;
    }
    #nav-a a, #nav-b a, #nav-c a, #nav-d a, #nav-e a {
    text-decoration:none;
    color:#666666;
    }
    a: link {
      color:#666666;
      text-decoration:none;
    }
    a: hover {
    color:#000000;
    }
    a: active {
    color:#000000;
    }
    #nav-wrap {
    	width:75%
    	height:75px;
    	margin-left:15%;
    	margin-right:auto;
    	margin-top:2%;
    	border-width: 0 px;
    	overflow:hidden;
    }
    #nav-a {
   		margin-top:2%;
   }
    #nav-b, #nav-c, #nav-d, #nav-e {
    	margin-top:4%;
    }
    #nav-a, #nav-b, #nav-c, #nav-d, #nav-e {
    width: 20%;
    height:75px;
    border-width: 0px;
    box-sizing:border-box;
    float:left;
    }
    #divider-wrap {
    	margin-left:15%
    	margin-right:auto;
    	background-color:gray;
    }
    h1, h2, h3, h4, h5, h6 {
    margin-left:15%;
    }
    #divider-wrap h1, h2 {
    color:gray;
    }
    #logo-wrap {
    	position:absolute;
    	margin-left:5%;
    	background-color:gray;
    	height:50px;
    	width:200px;
    }
    #second-divider-wrap {
    background-color:black;
    color:black
    }
    p {
    text-indent:35px;
    }
    .text-decorate-yes {
    text-decoration:none;
    color:#585858;
    }
    .text-decorate-yes:hover {
    text-decoration:underline;
    }
    #main-wrap {
    	margin-left:15%;
    	margin-right:15%;
    }
    #main-wrap a, p, h2, h3, h4, h5, h6 {
    	margin-left:3%;
    	margin-right:3%;
    }
    #spacer {
    visibility:hidden;
    }
    #footer-content {
    color:white;
    }
    #footer-content a {
    color:#E6E6E6;
    opacity:0.8;
    text-decoration:none;
    }
    #footer-content a:hover {
    text-decoration:underline;
    }
    .code-snippet {
    	background-color:#E6E6E6;
    }
    ul {
    	list-style-type:none;
    	padding:0;
    	margins:0;
    }
