#primary{
    font-size: 4vw;
}
body{
    font-family: "Inconsolata", monospace;
    margin-left: 10vw;
    margin-right: 10vw;
}
button{
    border:0;
    outline:none;
}
button:hover{
    color:white;
    background:black;
}
button:active{
    color:white;
    background:black;
}