body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Arbutus Slab', serif;
}
.head {
  margin-top: 20vw;
}
p {
  text-indent: 5vw;
  font-size: 1.5vw;
  text-align: justify;
  line-height: 2vw;
  padding-bottom: 2vw;
}
span {
  font-size: 2.5vw;
}
