@font-face {
  font-family: john;
  src: url("../fonts/BIG JOHN.otf");
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: john, serif;
  margin-top: 20vw;
}
h2 {
  font-family: "Cutive Mono", monospace;
  color: #fff;
  text-decoration: overline;
}
.emp {
  font-size: 12vw;
}
.preface {
  height: 70vw;
  background: url("https://static.pexels.com/photos/27986/pexels-photo-27986.jpg");
}
.leadArrow {
  margin-left: 45vw;
}
.term {
  background: rgba(0,0,0,0.8);
  padding-top: 5vw;
}
.term > p {
  font-family: monospace;
  color: #fff;
  margin-left: 5vw;
  font-size: 2vw;
}
.specHeader {
  color: #000;
}
.contact {
  background: rgba(0,0,0,0.8);
  color: #fff;
}
canvas {
    position: absolute;
}
.banner {
    z-index:1000;
    animation: fader 10s;
    color: #fff;
}
@-webkit-keyframes fader {
    0%   {color:#000;}
    100% {color:#fff;}
}

/* Standard syntax */
@keyframes fader {
    0%   {color:#000;}
    100% {color:#fff;}
}
