@font-face{
    font-family: "Slim Joe";
    src: url('../res/Slim Joe.otf');
}
body{
    font-family: 'PT Sans', sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: justify;
    margin-bottom: 10vw;
}
h1{
    font-family: "Slim Joe", sans-serif;
    text-align:center;
    padding: 10vw;
}
#wre{
    color: #C70002;
    /*color: firebrick;*/
}